.expert_changePassword {
  max-width: 22rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expert_changePassword p {
  font-size: 0.75rem;
}